#!/usr/bin/env zsh

# --- Warnings ---

export BASH_SILENCE_DEPRECATION_WARNING=1;

### --- Editor ---

export EDITOR='vim';

# --- Terminal ---

export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
export HISTCONTROL='ignoreboth';  # omit duplicates and spaces
export KEYTIMEOUT=1
export REPORTTIME=10

# --- Locale ---

export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# --- Python ---

export PYTHONIOENCODING='UTF-8';
export IPYTHONDIR=$DOTFILES/.ipython;

# --- Node ---

export NVM_DIR="$HOME/.nvm"
